
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @title %></h3>
    </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
<!--        <td><strong>Image</strong></td>-->
        <td><strong>First Name</strong></td>
        <td><strong>Last Name</strong></td>
        <td><strong>Birthday</strong></td>
        <td><strong>Origin</strong></td>
      </tr>
      </thead>
      <% @character_found.each do |character|  %>
      <tr>
      <!--      <td><img src="/images/<%= character['Image'] %>" height="140" class="img-rounded"></td>-->
            <td><%= character.first_name %></td>
            <td><%= character.last_name %></td>
            <td><%= character.age %></td>
            <td><%= character.origin %></td>
          </tr>
        <% end %>


</table>

  </div>
  </div>
</div>
