<div class="container">

<div class="alert alert-success" role="alert">
  <span class="glyphicon glyphicon-ok" aria-hidden="true">
  </span>&emsp;<%= @latest_addition %>
</div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @title %></h3>
    </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <td><strong>First Name</strong></td>
        <td><strong>Last Name</strong></td>
        <td><strong>Birthday</strong></td>
        <td><strong>Origin</strong></td>
      </tr>
    </thead>
  <% @characterlist.each do |character|  %>
    <tr>
      <td><%= character['First Name'] %></td>
      <td><%= character['Last Name'] %></td>
      <td><%= character['Age'] %></td>
      <td><%= character['Origin'] %></td>
    </tr>
  <% end %>
</table>

  </div>
  </div>
</div>
